*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/* RESET */

/* BODY E FISSI */
body{
  font-family: 'Montserrat', sans-serif;
  color: #32495b;
  font-size: 15px;
}

.clearfix::after{
  display: block;
  content: "";
  clear: both;
}

p{
  font-size: 13px;
  margin: 20px 0;
  line-height: 25px;
}

.container{
  width: 75%;
  margin: auto;
  /* background-color: lightblue; */
}

.button{
  background-color: #fe775a;
  padding: 5px;
  border: 1px #fe775a solid;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.big.button{
  padding: 20px 20px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #32495b;
}

#log-in{
  min-width: 0;
  background:none;
  color: #fe775a;
  border: 1px #fe775a solid;
}

i.fa-check-circle{
color: #fe775a;
}

.background{
background-color: #f4f9fd;
}

.background.blue{
  background-image: linear-gradient(to left, #00bba7, #00a4bb);
}

.background.white{
  background-color: #fff;
}
/* /BODY E FISSI */

/* NAV 1 */
nav > section{
  margin: 10px 0;
  width: 49%;
  display:inline-block;
}

nav li{
  display:inline-block;
}

nav li:nth-child(even){
  margin: 0 15px;
}

i.fa-angle-down{
  padding-right: 10px;
  font-size: 16px;
}

#search{
  color: #00a4bd;
  text-decoration: none;
}

.login-left .fa-angle-down{
  border-right: 1px solid #32495b;
}

nav > section:last-child{
  text-align: right;
}
/* /NAV 1 */

/* NAV 2 */
.logo{
  width: 20%;
  vertical-align: middle;
}

.nav-list{
  width: 79%;
}

.nav-list i{
  margin-left: 10px;
}
/* /NAV 2 */

/* HERO */
.hero{
  height: 550px;
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff4ef;
  position: relative;
}

.background-bottom{
  height: 66px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #afebe4;
  border: solid #33475b;
  border-width: 3px 0;
}

.hero-text{
  max-width: 40%;
  padding: 30px 0;
}

.hero-text > h2{
  font-size: 40px;
}

.hero-text * {
  margin: 15px 0;
}
/* /HERO */
/* MAIN */
main{
  background-color: #f4f9fd;
}

main section{
  margin: 20px 0;
  padding: 20px 0;
  /* background-color: orange; */
}

/* INTERLINEA TITOLO */
.main-title{
  text-align: center;
  margin: auto;
}

.main-title > img{
  height: 200px;
  margin-top: 50px;
}

.main-title > h3{
  font-size: 20px;
  margin: 10px 0 20px 0;
}
/* /INTERLINEA TITOLO */

/* SEZIONE RIGA 1 */
.main-row1{
  padding: 50px 80px;
  box-shadow: 1px 1px 5px grey;
  background-color: #fff;
}

.img-button, .row1-text{
  display: inline-block;
}

.img-button{
  width: 20%;
  float:left;
  text-align: center;
}

.img-button > img{
  width: 100px;
  margin-bottom: 20px;
}

.row1-text{
  float: right;
  width: calc(79% - 30px);
  margin-left: 30px;
}

.row1-text > h4{
  font-size: 20px;
}

.row1-text > h5{
  font-size: 15px;
  display: inline-block;
  margin-bottom: 20px;
}

.row1-text > hr{
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid  #32495b;
  margin-left: 30px;
}

.row1-text li{
  display: inline-block;
}

.row1-text .fa-check-circle, .row1-text li{
  margin: 0 20px 0 0;
}
/* /SEZIONE RIGA 1 */
/* SEZIONE RIGA 2 */
.box-row2{
  background-color: #fff;
  width: calc(100% / 3 - 17px);
  box-shadow: 1px 1px 5px grey;
  text-align: center;
  padding: 15px;
  display: inline-block;
}
.box-row2:nth-child(even){
  margin: 0 20px;
}
.box-row2 img{
  width: 100px;
  margin-bottom: 20px;
}

.box-row2 hr{
  width: 90%;
  margin: auto;
}

.box-row2 li{
  text-align: left;
}

.box-row2 h5, .box-row2 .big.button{
  margin: 20px 0;
}
/* /SEZIONE RIGA 2 */

/* SEZIONE RIGA 3 CON GRIGLIA */
.grid{
  text-align: center;
  color: #fff;
}

.grid h3{
  font-size: 25px;
}

.grid-table{
  padding: 0 0 50px 0;
}

.grid-cell{
  width: calc(100% / 4 - 1px);
  padding: 20px 0;
  float: left;
  border-left: 1px solid #fff;
}

.grid-cell:nth-of-type(1n+5){
  border-top: 1px solid #fff;
}

.grid-cell:nth-of-type(4n+1){
  border-left: 0;
}
/* /SEZIONE RIGA 3 CON GRIGLIA */

/* /MAIN */
